<div ng-app="windsOfWar">
	<title>winds of war</title>
	<script src="view/angular.min.js"></script>
	<script src="view/angular-route.js"></script>
	<script src="view/angular-main.js"></script>
	<script src="view/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="view/style.css">
	<div ng-controller="home">
		<div id="board">
			<div id="arena">
				<div class="grid" id="(0,8)" ng-mouseover="setCurrentGrid('0,8')">0,8</div>
				<div class="grid" id="(1,8)" ng-mouseover="setCurrentGrid('1,8')"></div>
				<div class="grid" id="(2,8)" ng-mouseover="setCurrentGrid('2,8')"></div>
				<div class="grid" id="(3,8)" ng-mouseover="setCurrentGrid('3,8')"></div>
				<div class="grid" id="(4,8)" ng-mouseover="setCurrentGrid('4,8')"></div>
				<div class="grid" id="(5,8)" ng-mouseover="setCurrentGrid('5,8')"></div>
				<div class="grid" id="(6,8)" ng-mouseover="setCurrentGrid('6,8')"></div>
				<div class="grid" id="(7,8)" ng-mouseover="setCurrentGrid('7,8')"></div>
				<div class="grid" id="(8,8)" ng-mouseover="setCurrentGrid('8,8')"></div>
				<div class="grid" id="(9,8)" ng-mouseover="setCurrentGrid('9,8')"></div>
				<div class="grid" id="(10,8)" ng-mouseover="setCurrentGrid('10,8')"></div>
				<div class="grid" id="(11,8)" ng-mouseover="setCurrentGrid('11,8')"></div>
				<div class="grid" id="(12,8)" ng-mouseover="setCurrentGrid('12,8')">12,8</div>
				<div class="grid" id="(0,7)" ng-mouseover="setCurrentGrid('0,7')"></div>
				<div class="grid" id="(1,7)" ng-mouseover="setCurrentGrid('1,7')"></div>
				<div class="grid" id="(2,7)" ng-mouseover="setCurrentGrid('2,7')"></div>
				<div class="grid" id="(3,7)" ng-mouseover="setCurrentGrid('3,7')"></div>
				<div class="grid" id="(4,7)" ng-mouseover="setCurrentGrid('4,7')"></div>
				<div class="grid" id="(5,7)" ng-mouseover="setCurrentGrid('5,7')"></div>
				<div class="grid" id="(6,7)" ng-mouseover="setCurrentGrid('6,7')"></div>
				<div class="grid" id="(7,7)" ng-mouseover="setCurrentGrid('7,7')"></div>
				<div class="grid" id="(8,7)" ng-mouseover="setCurrentGrid('8,7')"></div>
				<div class="grid" id="(9,7)" ng-mouseover="setCurrentGrid('9,7')"></div>
				<div class="grid" id="(10,7)" ng-mouseover="setCurrentGrid('10,7')"></div>
				<div class="grid" id="(11,7)" ng-mouseover="setCurrentGrid('11,7')"></div>
				<div class="grid" id="(12,7)" ng-mouseover="setCurrentGrid('12,7')"></div>
				<div class="grid" id="(0,6)" ng-mouseover="setCurrentGrid('0,6')"></div>
				<div class="grid" id="(1,6)" ng-mouseover="setCurrentGrid('1,6')"></div>
				<div class="grid" id="(2,6)" ng-mouseover="setCurrentGrid('2,6')"></div>
				<div class="grid" id="(3,6)" ng-mouseover="setCurrentGrid('3,6')"></div>
				<div class="grid" id="(4,6)" ng-mouseover="setCurrentGrid('4,6')"></div>
				<div class="grid" id="(5,6)" ng-mouseover="setCurrentGrid('5,6')"></div>
				<div class="grid" id="(6,6)" ng-mouseover="setCurrentGrid('6,6')"></div>
				<div class="grid" id="(7,6)" ng-mouseover="setCurrentGrid('7,6')"></div>
				<div class="grid" id="(8,6)" ng-mouseover="setCurrentGrid('8,6')"></div>
				<div class="grid" id="(9,6)" ng-mouseover="setCurrentGrid('9,6')"></div>
				<div class="grid" id="(10,6)" ng-mouseover="setCurrentGrid('10,6')"></div>
				<div class="grid" id="(11,6)" ng-mouseover="setCurrentGrid('11,6')"></div>
				<div class="grid" id="(12,6)" ng-mouseover="setCurrentGrid('12,6')"></div>
				<div class="grid" id="(0,5)" ng-mouseover="setCurrentGrid('0,5')"></div>
				<div class="grid" id="(1,5)" ng-mouseover="setCurrentGrid('1,5')"></div>
				<div class="grid" id="(2,5)" ng-mouseover="setCurrentGrid('2,5')"></div>
				<div class="grid" id="(3,5)" ng-mouseover="setCurrentGrid('3,5')"></div>
				<div class="grid" id="(4,5)" ng-mouseover="setCurrentGrid('4,5')"></div>
				<div class="grid" id="(5,5)" ng-mouseover="setCurrentGrid('5,5')"></div>
				<div class="grid" id="(6,5)" ng-mouseover="setCurrentGrid('6,5')"></div>
				<div class="grid" id="(7,5)" ng-mouseover="setCurrentGrid('7,5')"></div>
				<div class="grid" id="(8,5)" ng-mouseover="setCurrentGrid('8,5')"></div>
				<div class="grid" id="(9,5)" ng-mouseover="setCurrentGrid('9,5')"></div>
				<div class="grid" id="(10,5)" ng-mouseover="setCurrentGrid('10,5')"></div>
				<div class="grid" id="(11,5)" ng-mouseover="setCurrentGrid('11,5')"></div>
				<div class="grid" id="(12,5)" ng-mouseover="setCurrentGrid('12,5')"></div>
				<div class="grid" id="(0,4)" ng-mouseover="setCurrentGrid('0,4')"></div>
				<div class="grid" id="(1,4)" ng-mouseover="setCurrentGrid('1,4')"></div>
				<div class="grid" id="(2,4)" ng-mouseover="setCurrentGrid('2,4')"></div>
				<div class="grid" id="(3,4)" ng-mouseover="setCurrentGrid('3,4')"></div>
				<div class="grid" id="(4,4)" ng-mouseover="setCurrentGrid('4,4')"></div>
				<div class="grid" id="(5,4)" ng-mouseover="setCurrentGrid('5,4')"></div>
				<div class="grid" id="(6,4)" ng-mouseover="setCurrentGrid('6,4')"></div>
				<div class="grid" id="(7,4)" ng-mouseover="setCurrentGrid('7,4')"></div>
				<div class="grid" id="(8,4)" ng-mouseover="setCurrentGrid('8,4')"></div>
				<div class="grid" id="(9,4)" ng-mouseover="setCurrentGrid('9,4')"></div>
				<div class="grid" id="(10,4)" ng-mouseover="setCurrentGrid('10,4')"></div>
				<div class="grid" id="(11,4)" ng-mouseover="setCurrentGrid('11,4')"></div>
				<div class="grid" id="(12,4)" ng-mouseover="setCurrentGrid('12,4')"></div>
				<div class="grid" id="(0,3)" ng-mouseover="setCurrentGrid('0,3')"></div>
				<div class="grid" id="(1,3)" ng-mouseover="setCurrentGrid('1,3')"></div>
				<div class="grid" id="(2,3)" ng-mouseover="setCurrentGrid('2,3')"></div>
				<div class="grid" id="(3,3)" ng-mouseover="setCurrentGrid('3,3')"></div>
				<div class="grid" id="(4,3)" ng-mouseover="setCurrentGrid('4,3')"></div>
				<div class="grid" id="(5,3)" ng-mouseover="setCurrentGrid('5,3')"></div>
				<div class="grid" id="(6,3)" ng-mouseover="setCurrentGrid('6,3')"></div>
				<div class="grid" id="(7,3)" ng-mouseover="setCurrentGrid('7,3')"></div>
				<div class="grid" id="(8,3)" ng-mouseover="setCurrentGrid('8,3')"></div>
				<div class="grid" id="(9,3)" ng-mouseover="setCurrentGrid('9,3')"></div>
				<div class="grid" id="(10,3)" ng-mouseover="setCurrentGrid('10,3')"></div>
				<div class="grid" id="(11,3)" ng-mouseover="setCurrentGrid('11,3')"></div>
				<div class="grid" id="(12,3)" ng-mouseover="setCurrentGrid('12,3')"></div>
				<div class="grid" id="(0,2)" ng-mouseover="setCurrentGrid('0,2')"></div>
				<div class="grid" id="(1,2)" ng-mouseover="setCurrentGrid('1,2')"></div>
				<div class="grid" id="(2,2)" ng-mouseover="setCurrentGrid('2,2')"></div>
				<div class="grid" id="(3,2)" ng-mouseover="setCurrentGrid('3,2')"></div>
				<div class="grid" id="(4,2)" ng-mouseover="setCurrentGrid('4,2')"></div>
				<div class="grid" id="(5,2)" ng-mouseover="setCurrentGrid('5,2')"></div>
				<div class="grid" id="(6,2)" ng-mouseover="setCurrentGrid('6,2')"></div>
				<div class="grid" id="(7,2)" ng-mouseover="setCurrentGrid('7,2')"></div>
				<div class="grid" id="(8,2)" ng-mouseover="setCurrentGrid('8,2')"></div>
				<div class="grid" id="(9,2)" ng-mouseover="setCurrentGrid('9,2')"></div>
				<div class="grid" id="(10,2)" ng-mouseover="setCurrentGrid('10,2')"></div>
				<div class="grid" id="(11,2)" ng-mouseover="setCurrentGrid('11,2')"></div>
				<div class="grid" id="(12,2)" ng-mouseover="setCurrentGrid('12,2')"></div>
				<div class="grid" id="(0,1)" ng-mouseover="setCurrentGrid('0,1')"></div>
				<div class="grid" id="(1,1)" ng-mouseover="setCurrentGrid('1,1')"></div>
				<div class="grid" id="(2,1)" ng-mouseover="setCurrentGrid('2,1')"></div>
				<div class="grid" id="(3,1)" ng-mouseover="setCurrentGrid('3,1')"></div>
				<div class="grid" id="(4,1)" ng-mouseover="setCurrentGrid('4,1')"></div>
				<div class="grid" id="(5,1)" ng-mouseover="setCurrentGrid('5,1')"></div>
				<div class="grid" id="(6,1)" ng-mouseover="setCurrentGrid('6,1')"></div>
				<div class="grid" id="(7,1)" ng-mouseover="setCurrentGrid('7,1')"></div>
				<div class="grid" id="(8,1)" ng-mouseover="setCurrentGrid('8,1')"></div>
				<div class="grid" id="(9,1)" ng-mouseover="setCurrentGrid('9,1')"></div>
				<div class="grid" id="(10,1)" ng-mouseover="setCurrentGrid('10,1')"></div>
				<div class="grid" id="11_3" ng-click="appendCard('#11_3', currentGrid)" ng-mouseover="setCurrentGrid('11,1')"></div>
				<div class="grid" id="(12,1)" ng-mouseover="setCurrentGrid('12,1')"></div>
				<div class="grid" id="(0,0)" ng-mouseover="setCurrentGrid('0,0')">
					<img ng-src="view/img/1.jpg" ng-mouseover="hoverIn(chars[0])" ng-mouseleave="hoverOut(char)"/>
				</div>
				<div class="grid" id="(1,0)" ng-mouseover="setCurrentGrid('1,0')">
					<img ng-src="view/img/2.jpg" ng-mouseover="hoverIn(chars[1])" ng-mouseleave="hoverOut(char)"/>
				</div>
				<div class="grid" id="(2,0)" ng-mouseover="setCurrentGrid('2,0')">
					<img ng-src="view/img/1.jpg" ng-mouseover="hoverIn(chars[2])" ng-mouseleave="hoverOut(char)"/>
				</div>
				<div class="grid" id="(3,0)" ng-mouseover="setCurrentGrid('3,0')"></div>
				<div class="grid" id="(4,0)" ng-mouseover="setCurrentGrid('4,0')"></div>
				<div class="grid" id="(5,0)" ng-mouseover="setCurrentGrid('5,0')"></div>
				<div class="grid" id="(6,0)" ng-mouseover="setCurrentGrid('6,0')"></div>
				<div class="grid" id="(7,0)" ng-mouseover="setCurrentGrid('7,0')"></div>
				<div class="grid" id="(8,0)" ng-mouseover="setCurrentGrid('8,0')"></div>
				<div class="grid" id="(9,0)" ng-mouseover="setCurrentGrid('9,0')"></div>
				<div class="grid" id="(10,0)" ng-mouseover="setCurrentGrid('10,0')"></div>
				<div class="grid" id="(11,0)" ng-mouseover="setCurrentGrid('11,0')"></div>
				<div class="grid" id="(12,0)" ng-mouseover="setCurrentGrid('12,0')">12,0</div>
			</div>
			<p>{{currentGrid}}</p>
			<div id="myCards">
				<div ng-repeat="char in chars">
					<div class="block" id="{{ char['id'] }}" ng-click="clicked(char)"><img ng-src="{{char['image'] }}" ng-mouseover="hoverIn(char)" ng-mouseleave="hoverOut(char)"/></div>
				</div>
			</div>
		</div>
		<div class="footer">
			FOOTER
		</div>
	</div>
</div>