img{
	max-width: 100%;
	max-height: 100%;
}
#myCards{
	padding-top: 240px;
}
#board{

}
#arena{
	position: absolute;
	z-index: 0;
	width: 360px;
	height: 384px;
	background-color: lightgrey;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
	border-radius: 7px;
}
.grid{
	width: 25px;
	height: 40px;
	border-radius: 1px;
	border: solid;
	border-width: 2px;
	border-color: rgba(170, 170, 170, 0.8);
	float: left;
	z-index: 1;
	position: relative;
}
.block{
	height: 40px;
	width: 25px;
	border-radius: 5px;
	border: solid;
	border-width: 3px;
	margin-bottom: 6px;
	float: left;
	margin-left: 3px;
	z-index: 0;
	position: relative;
}
.footer{
	background-color: lightgrey;
	position: absolute;
	width: 890px;
	height: 30px;
	margin-left: -275px;
	margin-right: 0px;
	top: 822px;
}
body{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-right: 30%;
	padding-left: 30%;
	background-color: lightgreen;
}